<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="~/Content/AleStyle.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
        <div class="container">
            <a href="/">
                <img src="~/Content/imgDefault/LogoStone.png" style="max-width:150px" />
            </a>
            @*@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            @*@Html.ActionLink("mail", "SendEmail", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Galleria", "Gallery", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Aste", "Auctions", "AuctionsProducts", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (!User.Identity.IsAuthenticated)
                    {

                        <li>@Html.ActionLink("Registrati", "Create", "Users", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Login", "Login", "LoginUser", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
                <ul class="navbar-nav">
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Creazione
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Aggiungi", "Create", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Mostra tutti", "Index", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Materiali
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Aggiungi", "Create", "ProductCategories", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Mostra tutti", "Index", "ProductCategories", new { area = "" }, new { @class = "nav-link" })</li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Soggetti
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Aggiungi", "Create", "ProductSubjects", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Mostra tutti", "Index", "ProductSubjects", new { area = "" }, new { @class = "nav-link" })</li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Aste
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Aggiungi", "Create", "AuctionsProducts", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Mostra tutte", "Index", "AuctionsProducts", new { area = "" }, new { @class = "nav-link" })</li>
                            </ul>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Ciao @User.Identity.Name
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Le tue aste", "UserAuctions", "AuctionsDetails", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Carrello", "ShowCart", "Cart", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Profilo", "Details", "Users", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("LogOut", "Logout", "LoginUser", new { area = "" }, new { @class = "nav-link" })</li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer>
        <div class="container body-content">
            <p>&copy; Made By:  <span> <a href="https://github.com/AlessioDiPretoro">AleDp</a> </span> @DateTime.Now.Year</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
</body>
</html>