@model IEnumerable<Stones.Models.AuctionsProducts>
@{
    ViewBag.Title = "Auctions";
}
<div>
    <div>
        <div class="nav-item dropdown position-absolute">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="btn btn-sm btn-outline-secondary">Filtri</span>
            </a>
            <div class="dropdown-menu p-3 pe-5" id="filterDropdown">
                @using (Html.BeginForm())
                {
                    <div class="text-center p-2 border-bottom">
                        <p class="text-nowrap m-0">Filtra per materiali</p>
                    </div>

                    foreach (SelectListItem i in ViewBag.idCategory)
                    {
                        <div class="py-2">
                            <input type="checkbox" id="category-@i.Value" name="category" value="@i.Value" />
                            <label for="category-@i.Value">@i.Text</label>
                        </div>

                    }
                    <div class="text-center p-2 border-bottom">
                        <p class="text-nowrap m-0">Filtra per soggetti</p>
                    </div>
                    foreach (SelectListItem i in ViewBag.idSubject)
                    {
                        <div class="py-2">
                            <input type="checkbox" id="subject-@i.Value" name="subject" value="@i.Value" />
                            <label for="subject-@i.Value">@i.Text</label>
                        </div>
                    }
                    <input type="submit" value="Applica filtri" class="btn btn-sm btn-outline-secondary" />
                }
            </div>
        </div>
        <h2>Aste attive</h2>
    </div>
                <div class="row row-cols-1 row-cols-md-2 justify-content-center galleryCont">

                    @foreach (Stones.Models.AuctionsProducts p in Model)
                    {
                        <div class="col p-1">
                            <div class="card galleryCard">
                                <a href="@Url.Action("Details", "Products", new { id = p.Product.id })">
                                    <img src="~/Content/imgProducts/@p.Product.photo1" class="card-img-top" alt="@p.Product.name">
                                </a>
                                <div class="card-body d-flex flex-column card-abs">
                                    <div class="d-flex justify-content-between">

                                        <h5 class="card-title card-text-cutter">@p.Product.name</h5>
                                        @if (p.isActive)
                                        {

                                            <h5 class="card-title text-nowrap">@p.startPrice.ToString("C2")</h5>
                                        }
                                        else
                                        {
                                            <h5 class="card-title text-nowrap text-decoration-line-through">@p.startPrice.ToString("C2")</h5>

                                        }
                                    </div>
                                </div>
                                <div class="p-3">
                                    <p class="card-text flex-grow-1">Valida fino al: @p.dataEnd</p>
                                    @if (p.AuctionsDetails.Count > 0)
                                    {
                                        decimal price = 0;
                                        string usernameOffert = "";
                                        foreach (Stones.Models.AuctionsDetails a in p.AuctionsDetails)
                                        {
                                            if (a.price > price)
                                            {
                                                price = a.price;
                                                usernameOffert = a.Users.username;
                                            }
                                        }
                                        <div><p>Prezzo Massimo offerto: @price.ToString("C2")</p></div>

                                        if (usernameOffert == User.Identity.Name)
                                        {


                                            <div><b class="btn btn-success">La tua offerta è quella vincente!!!</b></div>
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Fai un'offerta", "Create", "AuctionsDetails", new { id = p.id }, new { @class = "btn btn-default" })

                                        }
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Fai un'offerta", "Create", "AuctionsDetails", new { id = p.id }, new { @class = "btn btn-default" })

                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>

                @if (ViewBag.NoResults != null)
                {
                    <div><p class="text-center">@ViewBag.NoResults</p></div>
                }
            </div>

