@model Stones.Models.AuctionsProducts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AuctionsProducts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
