@model IEnumerable<Stones.Models.AuctionsProducts>

@{
    ViewBag.Title = "Index";
}

<h2>Gestisci le aste</h2>

<p>
    @Html.ActionLink("Aggiungi nuova asta", "Create", "", new { @class = "btn btn-outline-secondary" })
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th class="text-center w5"><i class="fa-solid fa-gear"></i></th>
            <th>
                Nome
            </th>
            <th>
                Vincitore
            </th>
            <th>
                Inizio
            </th>
            <th>
                Scadenza
            </th>
            <th>
                €Iniz
            </th>
            <th>
                Attiva
            </th>
            <th>
                Pagata
            </th>
            <th>
                €Chius
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="nav-link text-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ...
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("🔍", "Details", new { id = item.id }, new { @class = "btn btn-sm btn-success w-75 m-1" })</li>
                        <li>@Html.ActionLink("✒", "Edit", new { id = item.id }, new { @class = "btn btn-sm btn-warning w-75 m-1" })</li>
                        <li>@Html.ActionLink("🗑", "Delete", new { id = item.id }, new { @class = "btn btn-sm btn-danger w-75 m-1" })</li>
                    </ul>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.startPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isPayed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endPrice)
                </td>

            </tr>
        }

    </table>
    </div>
