@model IEnumerable<Stones.Models.ProductCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Gestisci i tuoi elementi di base dei capolavori</h2>

<p>
    @Html.ActionLink("Crea nuovo materiale", "Create", "", new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th class="text-center w5"><i class="fa-solid fa-gear"></i></th>
        <th>
            Nome
        </th>
        <th>
            Descrizione
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="d-flex flex-column gap-3">
            @Html.ActionLink("🔍", "Details", new { id = item.id }, new { @class = "btn btn-sm btn-success" })
            @Html.ActionLink("✒", "Edit", new { id = item.id }, new { @class = "btn btn-sm btn-warning" })
            @Html.ActionLink("🗑", "Delete", new { id = item.id }, new { @class = "btn btn-sm btn-danger" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>

    </tr>
}

</table>
