@model Stones.Models.PostResponse

@{
    ViewBag.Title = "Delete";
}

<h2>Elimina</h2>

<h3>Sicuro di voler eliminare? L'azione è irreversibile.</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Post.body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUser)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Elimina" class="btn btn-outline-secondary" />
        </div>
    }
</div>
