@model Stones.Models.PostResponse

@{
    ViewBag.Title = "Edit";
}

<h2>Modifica la tua risposta al post</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.idPost)
        @Html.HiddenFor(model => model.idUser)
        @Html.HiddenFor(model => model.date)
        @*@Html.HiddenFor(model => model.Username)*@

        <div class="form-group">
            Post attivo (se deselezionato verrà nascosto per sempre)
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.isActive)
                    @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            Messaggio di risposta
            <div class="col-md-10">
                @Html.EditorFor(model => model.body, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salva modifiche" class="btn btn-default" />
            </div>
        </div>
    </div>
}