@model IEnumerable<Stones.Models.Product>

@{
    ViewBag.Title = "ShowCart";
}
    <h2>Il tuo carrello</h2>
<div class="row justify-content-evenly">
    @{decimal tot = 0; decimal ship = 0; decimal totAmmount = 0; }
    <div class="col col-8">
        @if (Model != null && Model.Count() > 0)
        {
            ship = 3;
            <div class="row">

                @foreach (var item in Model)
                {
                        <div class="d-flex align-items-center bg-white p-3 border-bottom">
                            <div class="col col-4">
                                @if (item.photo1 != null)
                                {
                                    <img src="~/Content/imgProducts/@item.photo1" class="w-75" />

                                }
                            </div>
                            <div class="col col-8">
                                <p>@Html.DisplayFor(modelItem => item.name)</p>
                                <p class="d-none d-md-block">@Html.DisplayFor(modelItem => item.descripton)</p>
                                <p><b>@item.price.ToString("C2")</b></p>
                                <div>
                                    @Html.ActionLink("Rimuovi", "Delete", new { id = item.id }, new { @class = "btn btn-outline-secondary" })
                                </div>
                            </div>
                        </div>
                    tot += item.price;
                    ship += 1.5m;
                }
                @{ totAmmount = ship + tot;}
            </div>
        }
        else
        {
            <p class="text-center">Non ci sono articoli nel tuo carrello</p>
        }
    </div>

        <div class="col col-3 p-4 bg-white">
            <p>Ordine: @tot.ToString("C2")</p>
            <p class="m-0">Spese spedizione:</p>
            <p>@ship.ToString("C2")</p>
            <p class="m-0"><b>Totale ordine:</b></p>
            <p><b>@totAmmount.ToString("C2")</b></p>
            @Html.ActionLink("Conferma ordine", "Create", "Orders", new { }, new { @class = "btn btn-outline-secondary btn-sm" })
        </div>

</div>