@model IEnumerable<Stones.Models.ProductSubject>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crea nuovo soggetto", "Create", "", new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Descrizione
        </th>
        <th>Modifica</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("🔍", "Details", new { id = item.id }, new { @class = "btn btn-success" })
            @Html.ActionLink("✒", "Edit", new { id = item.id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("🗑", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
