@model Stones.Models.DetailOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetailOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quanty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quanty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priceCad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceCad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
