@model IEnumerable<Stones.Models.DetailOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quanty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priceCad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quanty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priceCad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
