@model IEnumerable<Stones.Models.AuctionsDetails>

@{
    ViewBag.Title = "UserAuctions";
}

<h2>Le tue offerte per le aste</h2>

<table class="table">
    <tr>
        <th>Codice asta</th>
        <th>Titolo prodotto</th>
        <th>Data offerta</th>
        <th>Prezzo vincente</th>
        <th>Aggiudicata</th>
        <th>Offerta pagata</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idAuction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionsProducts.Product.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            @if (item.AuctionsProducts.idWinner > 0)
            {
            <td>Asta vinta</td>
                    if (item.AuctionsProducts.isPayed == true)
                    {
                    <td>Asta pagata</td>
                    }else
                    {
        <td>
            @Html.ActionLink("Paga", "Pay", new { id = item.idAuction }, new { @class = "btn btn-success" })
        </td>
                    }
            }
            else
            {
                <td>Non vinta</td>
                <td></td>
            }


            @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>*@
        </tr>
    }
</table>