@model Stones.Models._ProductWithPostsViewModel

@{
    ViewBag.Title = "Details";
}
@if (TempData["AlreadyInCart"] != null)
{
    <p class="alert alert-danger">@TempData["AlreadyInCart"]</p>
}
<div id="fullscreen" class="text-center z-3">
    <img src="" alt="Immagine a schermo intero">
</div>
<div>
    <div class="card d-flex flex-column flex-md-row mb-3">
        <div class="col col-12 col-md-8">
            <img src="~/Content/imgProducts/@Model.Product.photo1" class="card-big-top img-click-big" alt="@Model.Product.name">
            <div class="w-75 m-auto">
                <div class="row row-cols-5 m-0 mt-2 justify-content-center align-items-center">
                    <div class="col p-1">
                        <img src="~/Content/imgProducts/@Model.Product.photo1" class="card-small-bottom" alt="@Model.Product.photo2">
                    </div>
                    @if (Model.Product.photo2 != null)
                    {
                        <div class="col p-1">

                            <img src="~/Content/imgProducts/@Model.Product.photo2" class="card-small-bottom" alt="@Model.Product.photo2">
                        </div>
                    }
                    @if (Model.Product.photo3 != null)
                    {
                        <div class="col p-1">
                            <img src="~/Content/imgProducts/@Model.Product.photo3" class="card-small-bottom" alt="@Model.Product.photo3">
                        </div>
                    }
                    @if (Model.Product.photo4 != null)
                    {
                        <div class="col p-1">
                            <img src="~/Content/imgProducts/@Model.Product.photo4" class="card-small-bottom" alt="@Model.Product.photo4">
                        </div>
                    }
                    @if (Model.Product.photo5 != null)
                    {
                        <div class="col p-1">
                            <img src="~/Content/imgProducts/@Model.Product.photo5" class="card-small-bottom" alt="@Model.Product.photo5">
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="card-body col col-12 col-md-4">
            <div class="">
                <h3 class="card-title pb-3">@Model.Product.name</h3>
                @if (@Model.Product.descripton != null)
                {
                    <p class="card-text">@Html.Encode(Model.Product.descripton)</p>
                }
                <p class="card-text m-0">Categoria: @Model.Product.ProductCategory.name</p>
                <p class="card-text m-0">Soggetto: @Model.Product.ProductSubject.name</p>
            </div>
            <div class="d-flex align-items-center justify-content-between justify-content-md-evenly my-3 ">
                @if (Model.Product.isAvaiable)
                {
                    <h5 class="card-title">@Model.Product.price.ToString("C2")</h5>
                    @Html.ActionLink("Acquista", "AddToCart", "Cart", new { id = Model.Product.id }, new { @class = "btn btn-outline-secondary" })
                }
                else
                {
                    <h5 class="card-title text-nowrap">Venduto</h5>

                }
            </div>
        </div>
    </div>
    <div class="col col-12 col-md-6 card m-auto mb-3 p-3">
        <div class="form-horizontal">
            <div class="form-group">
                <textarea id="bodyPost" name="bodyPost" rows="4" class="form-control" , placeholder="Commenta l'opera"></textarea>
            </div>

            <div class="form-group">
                <div class="text-end">
                    <a class="btn btn-outline-secondary px-3" id="sendPost">Invia commento</a>
                </div>
            </div>
        </div>
    </div>
    @*commenti*@
    @foreach (Stones.Models.Post post in Model.Posts)
    {

        <div class="post">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div class="d-flex align-items-center">
                    <img src="~/Content//imgProfiles/@post.Users.imgProfile" alt="Immagine profilo" class="rounded-circle" />
                    <div>

                        <p><b>@post.Users.username</b></p>
                        <p>@post.date</p>
                    </div>
                </div>
                @if (User.Identity.Name == post.Users.username)
                {
                    <div class="dropdown w-auto">
                        <a class="btn btn-sm btn-outline-secondary px-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ...
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Modifica", "Edit", "Posts", new { id = post.id }, new { @class = "btn btn-edit w-auto" })</li>
                        </ul>
                    </div>
                }
            </div>
            <p> @post.body  </p>
            <div class="d-flex justify-content-end">

                @Html.ActionLink("Rispondi", "Create", "PostResponses", new { id = post.id }, new { @class = "btn btn-sm btn-outline-secondary px-3" })
            </div>
            @*risposte ai commenti*@

            @foreach (var resp in Model.Responses)
            {
                if (resp.Key == post.id && resp.Value.Count > 0)
                {
                    foreach (var res in resp.Value)
                    {

                        <hr />
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <img src="~/Content//imgProfiles/@res.Users.imgProfile" alt="Immagine profilo" class="rounded-circle" />
                                <div>
                                    <p><b>@res.Users.username</b></p>
                                    <p>@res.date </p>
                                </div>
                            </div>
                            @if (User.Identity.Name == res.Users.username)
                            {
                                <div class="nav-item dropdown w-auto">
                                    <a class="btn btn-sm btn-outline-secondary px-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        ...
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Modifica", "Edit", "PostResponses", new { id = res.id }, new { @class = "btn btn-edit w-auto" })</li>
                                    </ul>
                                </div>
                            }
                        </div>
                        <p>@res.body</p>
                    }
                }
            }
        </div>
    }
</div>

@section scripts{
    @*cliccando sull'immagine piccola viene visualizzata sulla card principale*@
<script type="text/javascript">
        $(document).ready(function () {

            $('.card-small-bottom').click(function () {
                var src1 = $(this).attr("src");
                $(".card-big-top").attr("src", src1);

            })

            $(".img-click-big").click(function () {
                var imgSrc = $(this).attr("src");
                $("#fullscreen img").attr("src", imgSrc);
                $("#fullscreen").fadeIn();
            });

            $("#fullscreen").click(function () {
                $(this).fadeOut();
            });

            $("#sendPost").click(function () {
                var bodyPost = $("#bodyPost").val();
                var currentUrl = window.location.href;
                var urlParts = currentUrl.split('/');
                var idProd = urlParts[urlParts.length - 1];
                console.log("idProd= " + idProd);
                console.log("currentUrl= " + currentUrl);

                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("CreatePost", "Posts")',
                    data: { post: { body: bodyPost, idProduct: idProd } },
                    success: function (data) {
                        console.log("data resp= " + data);
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error("Errore durante la richiesta Ajax:", status, error);
                    }
                });
            });
        })
</script>
}