@model Stones.Models.Product

@{
    ViewBag.Title = "Details";
}

<h4>Dettaglio galleria</h4>

<div>
    <hr />
    <div class="card mb-3 detailCard">
        <h2 class="card-title text-center m-3">@Model.name.ToUpper()</h2>

        <img src="~/Content/imgProducts/@Model.photo1" class="card-big-top" alt="@Model.name">

        <div class="row row-cols-5 m-0 mt-2 justify-content-center">
            <div class="col p-1">
                <img src="~/Content/imgProducts/@Model.photo1" class="card-small-bottom" alt="@Model.photo2">
            </div>
            @if (Model.photo2 != null)
            {
                <div class="col p-1">

                    <img src="~/Content/imgProducts/@Model.photo2" class="card-small-bottom" alt="@Model.photo2">
                </div>
            }
            @if (Model.photo3 != null)
            {
                <div class="col p-1">
                    <img src="~/Content/imgProducts/@Model.photo3" class="card-small-bottom" alt="@Model.photo3">
                </div>
            }
            @if (Model.photo4 != null)
            {
                <div class="col p-1">
                    <img src="~/Content/imgProducts/@Model.photo4" class="card-small-bottom" alt="@Model.photo4">
                </div>
            }
            @if (Model.photo5 != null)
            {
                <div class="col p-1">
                    <img src="~/Content/imgProducts/@Model.photo5" class="card-small-bottom" alt="@Model.photo5">
                </div>
            }
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h3 class="card-title">Titolo: @Model.name</h3>
                <h3 class="card-text">@Model.price.ToString("C2")</h3>
            </div>
            @if (@Model.descripton != null)
            {
                <p class="card-text">Descrizione: @Html.Encode(Model.descripton)</p>
            }
            <p class="card-text">Categoria: @Model.ProductCategory.name</p>
            <p class="card-text">Soggetto: @Model.ProductSubject.name</p>
            <p class="card-text"><small class="text-body-secondary">Visto 200 volte</small></p>
            <div class="d-flex gap-5">

                @Html.ActionLink("Acquista", "AddCart", "Cart", new { area = "" }, new { @class = "btn btn-default" })
                @Html.ActionLink("Commenta", "Create", "Posts", new { id = Model.id }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
    @foreach (Stones.Models.Post post in Model.Post)
    {
        <div class="post">
            <div class="d-flex justify-content-between align-items-baseline">
                <p>@post.date.ToShortDateString()</p>
                @Html.ActionLink("Rispondi", "Create", "Posts", new { id = post.id }, new { @class = "btn btn-default w-auto" })
            </div>
            <p> @post.body  </p>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('.card-small-bottom').click(function () {
                var src1 = $(this).attr("src");
                $(".card-big-top").attr("src", src1);

            })
        })
    </script>
}