@model Stones.Models._ProductWithPostsViewModel

@{
    ViewBag.Title = "Details";
}

<h4>Dettaglio galleria</h4>

<div>
    <hr />
    <div class="card mb-3 detailCard">
        <h2 class="card-title text-center m-3">@Model.Product.name.ToUpper()</h2>

        <img src="~/Content/imgProducts/@Model.Product.photo1" class="card-big-top" alt="@Model.Product.name">

        <div class="row row-cols-5 m-0 mt-2 justify-content-center">
            <div class="col p-1">
                <img src="~/Content/imgProducts/@Model.Product.photo1" class="card-small-bottom" alt="@Model.Product.photo2">
            </div>
            @if (Model.Product.photo2 != null)
            {
                <div class="col p-1">

                    <img src="~/Content/imgProducts/@Model.Product.photo2" class="card-small-bottom" alt="@Model.Product.photo2">
                </div>
            }
            @if (Model.Product.photo3 != null)
            {
                <div class="col p-1">
                    <img src="~/Content/imgProducts/@Model.Product.photo3" class="card-small-bottom" alt="@Model.Product.photo3">
                </div>
            }
            @if (Model.Product.photo4 != null)
            {
                <div class="col p-1">
                    <img src="~/Content/imgProducts/@Model.Product.photo4" class="card-small-bottom" alt="@Model.Product.photo4">
                </div>
            }
            @if (Model.Product.photo5 != null)
            {
                <div class="col p-1">
                    <img src="~/Content/imgProducts/@Model.Product.photo5" class="card-small-bottom" alt="@Model.Product.photo5">
                </div>
            }
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h3 class="card-title">Titolo: @Model.Product.name</h3>

                @if (Model.Product.isAvaiable)
                {

                    <h5 class="card-title text-nowrap">@Model.Product.price.ToString("C2")</h5>
                }
                else
                {
                    <h5 class="card-title text-nowrap">Venduto</h5>

                }
            </div>
            @if (@Model.Product.descripton != null)
            {
                <p class="card-text">Descrizione: @Html.Encode(Model.Product.descripton)</p>
            }
            <p class="card-text">Categoria: @Model.Product.ProductCategory.name</p>
            <p class="card-text">Soggetto: @Model.Product.ProductSubject.name</p>
            <p class="card-text"><small class="text-body-secondary">Visto 200 volte</small></p>
            <div class="d-flex gap-5">
                @if (Model.Product.isAvaiable)
                {
                    @Html.ActionLink("Acquista", "AddCart", "Cart", new { area = "" }, new { @class = "btn btn-default" })
                }
                    @Html.ActionLink("Commenta", "Create", "Posts", new { id = Model.Product.id }, new { @class = "btn btn-default" })
                </div>
        </div>
    </div>
    @*commenti*@
    @foreach (Stones.Models.Post post in Model.Posts)
    {

        <div class="post">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div class="d-flex">
                    <img src="~/Content//imgProfiles/@post.Users.imgProfile" alt="Immagine profilo" class="rounded-circle" />
                    <div>

                        <p><b>@post.Users.username</b></p>
                        <p>@post.date</p>
                    </div>
                </div>
                @if (User.Identity.Name == post.Users.username)
                {
                    <div class="nav-item dropdown btn btn-default w-auto">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ...
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Modifica", "Edit", "Posts", new { id = post.id }, new { @class = "btn btn-edit w-auto" })</li>
                        </ul>
                    </div>
                }
            </div>
            <p> @post.body  </p>
            <div class="d-flex justify-content-end">

                @Html.ActionLink("Rispondi", "Create", "PostResponses", new { id = post.id }, new { @class = "btn btn-default w-auto" })
            </div>
            @*risposte ai commenti*@

            @foreach (var resp in Model.Responses)
            {
                if (resp.Key == post.id && resp.Value.Count > 0)
                {
                    foreach (var res in resp.Value)
                    {

                        <hr />
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <img src="~/Content//imgProfiles/@res.Users.imgProfile" alt="Immagine profilo" class="rounded-circle" />
                                <div>
                                    <p><b>@res.Users.username</b> - @res.date </p>
                                    <p>@res.body</p>
                                </div>
                            </div>
                            @if (User.Identity.Name == res.Users.username)
                            {
                                <div class="nav-item dropdown btn btn-default w-auto">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        ...
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Modifica", "Edit", "PostResponses", new { id = res.id }, new { @class = "btn btn-edit w-auto" })</li>
                                    </ul>
                                </div>
                            }
                        </div>
                    }
                }
            }
        </div>
    }
</div>

@section scripts{
    @*cliccando sull'immagine piccola viene visualizzata sulla card principale*@
    <script type="text/javascript">
        $(document).ready(function () {

            $('.card-small-bottom').click(function () {
                var src1 = $(this).attr("src");
                $(".card-big-top").attr("src", src1);

            })
        })
    </script>
}